.cart {
  padding: 215px 0 50px;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.cart__container {
  display: grid;
  align-items: start;
  grid-template-columns: 2fr 1fr;
  gap: 32px 20px;
}

.cart__title {
  margin: 0;
  grid-column: 1 / -1;
  font-size: 54px;
  font-weight: 400;
  line-height: 1.1;
  color: #64099b;
}

.cart__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;
}

.cart__summary {
  display: grid;
  grid-template-areas:
    'title button'
    'total button';
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 24px;
  background: #f2f9f7;
  color: #1d1c1d;
  border-radius: 6px;
}

.cart__summaryTitle {
  grid-area: title;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.cart__total {
  grid-area: total;
  margin: 0;
  font-size: 20px;
}

.cart__orderBtn {
  grid-area: button;
  background-color: transparent;
  border: 1px solid #64099b;
  border-radius: 4px;
  padding: 16px 24px;
  color: #64099b;
  cursor: pointer;
}

.modalCart {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  border-radius: 6px;
  border: none;
  padding: 20px;
  background-color: #fff;
}

.modalCart__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
}

.modalCart__title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

.modalCart__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 1240px) {
  .cart {
    padding: 170px 0 50px;
  }

  .container {
    padding: 0 42px;
  }

  .cart__container {
    grid-template-columns: 1fr 300px;
  }

  .cart__items {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media (max-width: 940px) {
  .cart {
    padding: 139px 0 30px;
  }

  .cart__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .cart__title {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .cart__items {
    grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
    gap: 16px;
  }

  .cart__summary {
    order: -1;
    margin-bottom: 40px;
    padding: 16px;
    grid-template-areas: 'title total button';
    grid-template-columns: min-content 1fr min-content;
    gap: 6px;
  }

  .cart__summaryTitle {
    font-size: 16px;
  }

  .cart__total {
    font-size: 16px;
  }

  .cart__orderBtn {
    padding: 12px 18px;
    font-size: 16px;
  }

  .modalCart__title {
    font-size: 24px;
  }
}

@media (max-width: 660px) {
  .cart {
    padding: 100px 0 30px;
  }

  .container {
    padding: 0 16px;
  }

  .cart__summary {
    margin-bottom: 30px;
    grid-column: 1 / -1;
    grid-template-areas:
      'title button'
      'total button';
  }

  .cart__items {
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 8px;
  }

  .cart__orderBtn {
    justify-self: end;
  }

  .modalCart {
    max-width: 280px;
  }

  .modalCart__title {
    max-width: 226px;
    font-size: 18px;
  }

  .modalCart__btn {
    top: 16px;
    right: 16px;
  }
}
