.cart {
  padding: 215px 0 50px;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.cart__container {
  display: grid;
  align-items: start;
  grid-template-columns: 2fr 1fr;
  gap: 32px 20px;
}

.cart__title {
  margin: 0;
  grid-column: 1 / -1;
  font-size: 54px;
  font-weight: 400;
  line-height: 1.1;
  color: #64099b;
}

.cart__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;
}

.cart__summary {
  display: grid;
  grid-template-areas:
    'title button'
    'total button';
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 24px;
  background: #f2f9f7;
  color: #1d1c1d;
  border-radius: 6px;
}

.cart__summaryTitle {
  grid-area: title;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.cart__total {
  grid-area: total;
  margin: 0;
  font-size: 20px;
}

.cart__orderBtn {
  grid-area: button;
  background-color: transparent;
  border: 1px solid #64099b;
  border-radius: 4px;
  padding: 16px 24px;
  color: #64099b;
  cursor: pointer;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 42px;
  }

  .cart__items {
    grid-template-columns: repeat(3, minmax(180px, 1fr));
  }
}

@media (max-width: 940px) {
  .cart {
    padding: 139px 0 30px;
  }

  .cart__container {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .cart__title {
    margin-top: 16px;
    font-size: 36px;
  }

  .cart__items {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 16px;
  }

  .cart__summary {
    order: -1;
    padding: 16px;
    grid-template-areas: 'title total button';
  }

  .cart__orderBtn {
    padding: 12px 18px;
    font-size: 16px;
  }

  .cart__summaryTitle {
    font-size: 16px;
  }

  .cart__total {
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .cart {
    padding: 99px 0 30px;
  }

  .container {
    padding: 0 16px;
  }

  .cart__summary {
    padding: 16px;
    grid-template-areas:
      'title button'
      'total button';
    gap: 2px;
    max-width: none;
  }

  .cart__items {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 8px;
  }

  .cart__title {
    margin-top: 6px;
  }
}
