.cartItem {
  font-size: 0;
  background-color: #f2f9f7;
  border-radius: 6px;
}

.cartItem__image {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.cartItem__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.cartItem__title {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 400;
  color: #1d1c1d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cartItem__quantity {
  display: flex;
  margin-bottom: 20px;
  gap: 4px;
  align-items: center;
}

.cartItem__quantityBtn {
  width: 36px;
  height: 36px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #b8b8b8;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.cartItem__quantityBtn_minus {
  background-image: url('/img/icon-minus.svg');
}

.cartItem__quantityBtn_plus {
  background-image: url('/img/icon-plus.svg');
}

.cartItem__quantityInput {
  width: 26px;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
}

.cartItem__price {
  margin: 0;
  font-size: 20px;
}

@media (max-width: 1240px) {
  .cartItem__title {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
}

@media (max-width: 940px) {
  .cartItem {
    max-height: 280px;
  }

  .cartItem__image {
    max-height: 156px;
  }

  .cartItem__title {
    font-size: 16px;
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }

  .cartItem__quantity {
    gap: 2px;
  }

  .cartItem__quantityBtn {
    width: 24px;
    height: 24px;
  }

  .cartItem__quantityInput {
    width: 20px;
    font-size: 16px;
  }

  .cartItem__price {
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .cartItem__info {
    padding: 16px 8px;
  }
}
