.good {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  height: 100%;
  font-size: 0;
  background: #f2f9f7;
  color: #1d1c1d;
}

.good__image {
  width: 100%;
}

.good__content {
  flex-grow: 1;
  padding: 40px 24px 24px;
  display: flex;
  flex-direction: column;
}

.good__title {
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.good__price {
  margin: 0;
  font-size: 20px;
}

@media (max-width: 1240px) {
  .good {
    min-height: 450px;
  }
}

@media (max-width: 940px) {
  .good {
    min-height: 360px;
  }

  .good__title {
    max-height: 52px;
    font-size: 20px;
  }

  .good__price {
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .good__image {
    max-height: 226px;
    height: 100%;
    object-fit: cover;
  }

  .good__content {
    padding: 16px 8px;
    display: flex;
    justify-content: space-between;
  }

  .good__title {
    max-height: 40px;
    font-size: 16px;
  }
}
