@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  color: #1d1c1d;
  background-color: #fff;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
} */

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

@media (max-width: 1240px) {
  /* .container {
    padding: 0 42px;
  } */
}
